<!DOCTYPE html>
<html ng-app="atkinsoftSite">

	<head>
		<!--
			<link href="normalize.css" rel="stylesheet">
			-->
		<link type="text/css" rel="stylesheet" href="atkinsoft.css" />
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	
		<title>Richard Atkinson</title>

	</head>

	<body ng-controller="TabController as tabCtrl">
		<div class="heading">
			<h1><a href ng-click="tabCtrl.setTab(0)">Richard Atkinson</a></h1>

			<ul class="links">
				<li ng-class="{ active: tabCtrl.isCurrentTab(1) }"><a href ng-click="tabCtrl.setTab(1)">Sega Master System</a></li>
				<li ng-class="{ active: tabCtrl.isCurrentTab(2) }"><a href ng-click="tabCtrl.setTab(2)">Sinclair ZX Spectrum</a></li>
				<li ng-class="{ active: tabCtrl.isCurrentTab(3) }"><a href ng-click="tabCtrl.setTab(3)">Timex Sinclair 2068</a></li>
				<li ng-class="{ active: tabCtrl.isCurrentTab(4) }"><a href ng-click="tabCtrl.setTab(4)">Synclavier II</a></li>
				<li ng-class="{ active: tabCtrl.isCurrentTab(5) }"><a href ng-click="tabCtrl.setTab(5)">Stewart Lee</a></li>
				<li ng-class="{ active: tabCtrl.isCurrentTab(6) }"><a href ng-click="tabCtrl.setTab(6)">Commodore SID</a></li>
				<li ng-class="{ active: tabCtrl.isCurrentTab(7) }"><a href ng-click="tabCtrl.setTab(7)">Yamaha FM</a></li>
				<li ng-class="{ active: tabCtrl.isCurrentTab(8) }"><a href ng-click="tabCtrl.setTab(8)">Web Audio</a></li>
			</ul>
		

		</div>
		
		<div class="content" ng-show="tabCtrl.isCurrentTab(0)">
			<index-content></index-content>
		</div>
		<div class="content" ng-show="tabCtrl.isCurrentTab(1)">
			<sega-content></sega-content>
		</div>
		<div class="content" ng-show="tabCtrl.isCurrentTab(2)">
			<sinclair-content></sinclair-content>
		</div>
		<div class="content" ng-show="tabCtrl.isCurrentTab(3)">
			<timex-content></timex-content>
		</div>
		<div class="content" ng-show="tabCtrl.isCurrentTab(4)">
			<synclavier-content></synclavier-content>
		</div>
		<div class="content" ng-show="tabCtrl.isCurrentTab(5)">
			<stewart-lee-content></stewart-lee-content>
		</div>
		<div class="content" ng-show="tabCtrl.isCurrentTab(6)">
			<sid-content></sid-content>
		</div>
		<div class="content" ng-show="tabCtrl.isCurrentTab(7)">
			<fm-content></fm-content>
		</div>
		<div class="content" ng-show="tabCtrl.isCurrentTab(8)">
			<audio-content></audio-content>
		</div>
		<div class="webaudiosynth" ng-show="tabCtrl.isCurrentTab(8)">
			<web-audio-synth></web-audio-synth>
		</div>
	</body>

</html>
